<div class="page-header">
  <h1>Trips</h1>
</div>

<p><a href="/trips/new" class="btn btn-primary">Add a New Trip</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>From city</th>
      <th>To city</th>
      <th>User</th>
      <th>Time</th>
      <th>Cost</th>
      <th>Notes</th>
      <th>Photo</th>
      <th>Transportation</th>
      <th>Average Rating</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>

      <div class="container">

      <div class="well form-inline">
      <div class = "col-sm-6">

        <div style = "background-image: url(<%= trip.photo %>); height: 500px; width: 500px; border: 1px solid black;">
        </div>
      </div>
      <div class = "col-sm-6">
            <div class = "row">
              <div class = "col-sm-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">From:   <%= trip.from_city.name.capitalize %></h3>
                  </div>

                </div>
              </div>


              <div class = "col-sm-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">To: <%= trip.to_city.name.capitalize %></h3>
                  </div>

                </div>
              </div>
            </div>

             <div class = "row">
              <div class = "col-sm-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Description</h3>
                  </div>
                  <div class="panel-body">
                   <%= trip.notes %>

                  </div>
                </div>
              </div>
            </div>


            <div class = "row">
              <div class = "col-sm-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Price ($): <%= trip.cost %></h3>
                  </div>
                </div>
              </div>

              <div class = "col-sm-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Time (Hours): <%= trip.time %></h3>
                  </div>
                </div>
              </div>
            </div>

            <div class = "row">

              <div class = "col-sm-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">User</h3>
                  </div>
                  <div class="panel-body">
                    <%= trip.user.email %>
                  </div>
                </div>
              </div>

               <div class = "col-sm-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Transportation Method</h3>
                  </div>
                  <div class="panel-body">
                  <%= trip.transportation %>
                  </div>
                </div>
              </div>
            </div>



              <div class = "row">

                  <div class = "col-sm-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Average Rating</h3>
                  </div>
                  <div class="panel-body">
                  <%= trip.ratings.average(:points) %>
                  </div>
                </div>
              </div>

               <div class = "col-sm-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Add your Rating</h3>
                  </div>
                  <div class="panel-body">
                    <form action="/create_rating" class="form-horizontal">
                      <!-- Label and input for user_id -->

                          <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">

                      <!-- Label and input for trip_id -->

                          <input type="hidden" id="trip_id" name="trip_id" placeholder="Trip" class="form-control" value="<%= trip.id %>">


                      <!-- Label and input for points -->
                      <div class="form-group">

                        <div class="col-sm-10">
                           <%= select_tag(:points, options_for_select(["1", "2", "3", "4", "5"]), :class => "form-control") %>
                        </div>
                      </div>

                      <div class="form-group">
                          <input type="submit" value="Create Rating" class="btn btn-primary">
                      </div>
                    </form>
                  </div>
                  </div>
                </div>
              </div>

               <div class = "row">
                        <div class="col-sm-6">

          <a href="/trips/<%= trip.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
          <a href="/trips/<%= trip.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
          <a href="/delete_trip/<%= trip.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </div>
        </div>
            </div>
            </div>



          </div>





      <tr>
        <td><%= trip.from_city.name %></td>
        <td><%= trip.to_city.name %></td>
        <td><%= trip.user.email %></td>
        <td><%= trip.time %></td>
        <td><%= trip.cost %></td>
        <td><%= trip.notes %></td>
        <td><a class="thumbnail"><img src="<%= trip.photo %>"></a></td>
        <td><%= trip.transportation %></td>
        <td><%= trip.ratings.average(:points) %></td>
        <td>
          <a href="/trips/<%= trip.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/trips/<%= trip.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_trip/<%= trip.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>


    <% end %>
  </tbody>
</table>




