<h2></h2>

<div class="container">

<div style = "background-image: url(<%= asset_path 'suspension2.jpg' %>); height: 570px; width: 1100px;">

<div class="col-sm-1">
</div>



<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<div class="col-sm-6">
<div class = "row3">
</div>
<div class = "titulo1">

  Sign up! :)
</div>
  <div class="field">
    <div class = "user1">
    <%= f.label :email %><br />
    </div>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <div class = "user1">
    <%= f.label :password %>
    </div>
    <% if @validatable %>
    <em style = "color: white;">(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <div class = "user1">
    <%= f.label :password_confirmation %><br />
    </div>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<div class = "signup">
<%= render "devise/shared/links" %>
</div>
</div>
</div>
